h1 {
    font-size: 35px; 
    color: black;
    font-style: bold;
    text-decoration: underline;
    text-align: center;
}

body {
    font-size: larger;
    color: white;
    text-align: center;
}

p {
    font-style: bold;
}

a {
    font-size: large;
    font-style: bold;
    color: white;
    text-align: center;
    text-decoration: underline;
}

.small-image {
    width: 300px;
    height: auto;
    margin: 25px;
}

html {
    background-color: darkred;
}