h1 {
    text-align: center;
    font-size: 35px;
    color: black;
    text-decoration: underline;
    margin: 5px;
}

.type {
    font-size: 25px;
    margin: 5px;
    padding: 10px;
    font-style: bold;
}

.rating {
    font-size: 25px;
    font-style: bold;
    margin: 5px;
    padding: 10px;
}

form {
    text-align: center;
    align-items: center;
    margin-bottom: 25px;
}

html {
    background-color: darkred;
}

.cellar-container {
    width: 500px;
    height: 400px;
    margin: auto;
    align-items: center;
    text-align: center;;
}
