body {
    font-family: Arial, sans-serif;
    font-size: larger;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 35px;
    color: white;
    text-decoration: underline;
    margin: 20px 0;
}

.type, .rating {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

form label {
    display: block;
}

form select, form input[type="number"] {
    margin: 5px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
    background-color: #45a049;
}

html {
    background-color: darkred;
}

.cellar-container {
    width: 500px;
    height: 400px;
    margin: auto; 
    text-align: center;
}

.cellar-container img {
    max-width: 100%; 
    height: auto; 
}
